<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkJoT4n62Ig2nctN-3Nw5ZuK2v-nBh3FE</string>
	<key>GCM_SENDER_ID</key>
	<string>54631130584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.yolkweightproyolk</string>
	<key>PROJECT_ID</key>
	<string>yolk-weight-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>yolk-weight-pro.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54631130584:ios:e07dc9574282c438777ead</string>
</dict>
</plist>